.name-container{
    display: flex;
    position: absolute;
    bottom: 6rem;
    right:81rem;
    color: black;
    font-size: 20px;
}

.img-box{
    position: relative;
}

.m-r{
    margin-right: 0.5rem;
}

